{{ $all_lessons := site.Data.curriculum.curricula }}
{{ $type := .Get "type" }}

<table>
<thead>
<tr>
<th>Lesson</th>
<th>Site</th>
<th>Repository</th>
<th>Reference</th>
<th>Instructor Notes</th>
<th>Status</th>
<th>Maintainers</th>
</tr>
</thead>
<tbody>

{{ range where $all_lessons "category" "eq" $type }}
<tr>
    <td>{{ .lessonname }}</td>
    <td><a href="{{ .site }}"><i class="fas fa-window-maximize"></i></a></td>
    <td><a href="{{ .repo }}"><i class="fab fa-github"></i></a></td>
    <td><a href="{{ .ref }}"><i class="fas fa-eye"></i></a></td>
    <td><a href="{{ .notes }}"><i class="fas fa-plus"></i></a></td>
    <td>{{ .status }}</td>
    <td>{{ .maintainers }} </td>
</tr>
{{ end }}
</tbody>
</table>
